.gallery {

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  padding: 30px;

}

.gallery img {

  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: transform .2s;

}

.gallery img:hover {
  transform: scale(1.05);
}

.folders {

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 30px;
  padding: 40px;

}

.folder-card {

  padding: 50px 20px;
  background: white;
  border-radius: 16px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;

  box-shadow: 0 4px 14px rgba(0,0,0,.1);

  transition: transform .2s;

}

.folder-card:hover {
  transform: scale(1.05);
}
